/* scroll list  */
.scroller {
    animation: 30s scroll alternate infinite;
  }
  
  .scroller:first-child {
    animation-duration: 35s;
  }
  
  .scroller:nth-child(2) {
    animation-duration: 40s;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  .scrollbar::-webkit-scrollbar {
    display: none;
  }